@import url(icons.css);
@import url(roboto.css);

html {
	font: normal 16px / 22px Roboto;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background: #ffffff;
	color: #222222;
}
body {
	margin: 0;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #222222;
}
hr {
	clear: both;
}
.accordion-item p:empty {
	margin: 0;
	padding: 0;
	line-height: 0;
}

/* ==================== HEADER/FOOTER ==================== */

.tm-headerbar {
	background: #2B167B;
	border-bottom: 5px solid #D0BF6A;
}
.tm-footer {
	background: #2B167B;
	border-top: 5px solid #D0BF6A;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
}
.tm-headerbar, .tm-navbar, .tm-footer {
	margin: 0;
}
.tm-headerbar .tm-logo {
	margin-top: 25px;
	margin-bottom: 25px;
}
.tm-toolbar {
	float: right;
}
.tm-headerbar .uk-panel a {
	font-size: 12px;
}
.uk-navbar-flip {
	float: right;
	clear: both;
	background: #e0e0e0;
}
.uk-navbar-flip .uk-navbar-content {
	padding: 0;
	height: 45px;
}
.uk-search:before {
	line-height: 45px;
	color: #888;
	color: rgba(0,0,0,0.5);
}
input.uk-search-field {
	width: 185px;
	height: 45px;
	background: #fff;
	padding-left: 30px;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.tm-navbar .uk-search-field.focus,.tm-sidebar-a .uk-search-field.focus {
	background: #fff;
}
.uk-nav-search .uk-nav-header {
	color: #222;
}
.uk-nav-search > li > a {
	color: #222;
}
.uk-nav-search > li.uk-active > a {
	background: #6d809e;
	color: #ffffff;
	outline: none;
}
.uk-subnav > * > * {
	color: #fff;
}
.product-default .uk-subnav a:visited {
	color: #6d809e !important;
}
.tm-headerbar .uk-container, .tm-footer .uk-container {
	margin-top: 0;
	margin-bottom: 0;
}

/* ==================== LAYOUTS ==================== */

.uk-container {
	margin-top: 35px;
	margin-bottom: 35px;
}
.clearfix {
	clear: both;
}
.pull-left {
	margin-right: 10px;
}
.pull-right {
	margin-left: 10px;
}

/* ==================== NAV ==================== */

.uk-navbar-nav > li > a {
	color: #111;
	padding: 0 35px;
}
.uk-navbar-nav > li > a, .uk-dropdown {
	font-family: "Roboto";
	font-size: 14px;
}
.uk-dropdown .uk-nav-sub {
	margin-left: 15px;
	padding-right: 10px;
}
.uk-navbar-nav > li.uk-active > a, .uk-navbar-nav > li > a:hover, .uk-navbar-nav > li.uk-open > a {
	background: #6d809e;
	color: #fff;
}
.uk-nav-navbar > li > a:hover,
.uk-nav-navbar > li > a:focus {
	background: #6d809e;
	color: #ffffff;
	outline: none;
}
.uk-dropdown-navbar {
	border-bottom: 5px solid #D0BF6A;
}
.uk-offcanvas-bar {
	background: #2B167B;
}
html .uk-nav.uk-nav-offcanvas > li > a {
	color: #fff;
}
html .uk-nav.uk-nav-offcanvas > li.uk-active > a, html .uk-nav.uk-nav-offcanvas > li > a:hover {
	background: #6d809e;
	color: #fff;
}
.uk-panel-box > .uk-nav-side {
	margin: 0;
}
.uk-panel-box > .uk-nav-side .uk-nav-sub {
	margin: 10px;
}
.uk-nav-side > li.uk-active > a {
	background: #2B167B;
}
.uk-nav-side ul a {
	color: #2B167B;
}
.tm-navbar .uk-navbar-content {
	float: right;
}

.uk-panel ul.uk-nav-sub ul {
	padding-left: 15px;
}
.uk-panel ul.uk-nav-sub li.uk-active a, .uk-panel ul.uk-nav-sub li.uk-active ul li.uk-active a, .zoo-category-list li.current.active a, .zoo-category-list li.parent.active a, .zoo-category-list li.parent.active ul li.current.active a {
	font-weight: 700;
}
.uk-panel ul.uk-nav-sub li.uk-active ul li a, .zoo-category-list li a, .zoo-category-list li.parent.active ul li a {
	font-weight: 300;
}
#yoo-zoo p.sub-categories {
	font-size: 14px !important;
}
aside .formField, aside .formField input {
	max-width: 95%;
}


/* ==================== TYPOGRAPHY ==================== */


h1, h2, h3, h4, h5, h6 {
	font-weight: 700 !important;
	color: #222222;
}
p, ul, ol, li {
	color: #222222;
}
h1 {
	margin-top: 0;
}
h2, h4 {
	color: #2B167B;
}
.xl {
	font-size: 50px;
	line-height: 70px;
}
.xxl {
	font-size: 100px;
	line-height: 120px;
}
p {
	margin: 0 0 20px 0;
}
em {
	color: #222222;
}
#tm-content a:link {
	color: #6d809e;
	text-decoration: underline;
	transition: color 200ms ease-in-out;
}
#tm-content a:link:hover, #tm-content a:hover, #tm-content a:focus {
	color: #800080;
}
figure, .img-with-text {
	background: #f1f1f1;
	padding: 10px 10px 0 10px;
	display: table;
	margin-top: 0;
	margin-bottom: 10px;
	border: 1px solid #eaeaea;
}
figure img, .img-with-text img {
	display: block;
	margin: 0 auto;
}
figure.pull-right {
	margin-left: 10px;
}
figure.pull-left {
	margin-right: 10px;
}
figure.pull-center {
	margin: 0 auto;
}
figcaption, .img-with-text p {
	text-align: center;
	padding: 10px 0;
	line-height: 1;
	font-size: 14px;
	margin: 0;
}
pre {
	font-size: 16px;
	line-height: 1.4;
}

blockquote, .yoo-zoo blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before, .yoo-zoo blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 2em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote:after, .yoo-zoo blockquote:after {
	color: #ccc;
	content: close-quote;
	font-size: 2em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote p, .yoo-zoo blockquote p {
	display: inline;
}
.element-relateditems.first {
	display: block;
}

/* ==================== MODULES ==================== */

.uk-panel-box {
	background: #e0e0e0;
}
.uk-panel-box.blank {
	background: transparent;
}
.uk-panel a {
	color: #2B167B;
}
.module.blank, .uk-panel.blank {
	padding: 0 !important;
}
#tm-main-top .uk-panel img {
	width: 100%;
	height: auto;
}
.uk-panel-box .uk-panel-title {
	font-weight: 700;
}
.uk-panel ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.uk-panel ul li {
	margin: 0;
	padding: 7px 0;
	list-style: none;
	border-top: 1px solid #777;
}
.uk-panel ul li:first-child {
	border: none;
}
.mod-darkblue, .mod-box2, .style-darkblue {
	background: #2B167B;
	color: #fff;
}
.mod-lightblue, .mod-box1, .style-lightblue {
	background: #6d809e;
	color: #fff;
}
.mod-gold, .mod-box3, .style-gold, .mod-gold p, .mod-box3 p, .style-gold p, .mod-gold h3, .mod-box3 h3, .style-gold h3 {
	background: #D0BF6A;
	color: #fff;
}
.mod-darkblue p, .mod-box2 p, .style-darkblue p,
.mod-darkblue li, .mod-box2 li, .style-darkblue li,
.mod-darkblue h3, .mod-box2 h3, .style-darkblue h3,
.mod-lightblue p, .mod-box1 p, .style-lightblue p,
.mod-lightblue li, .mod-box1 li, .style-lightblue li,
.mod-lightblue h3, .mod-box1 h3, .style-lightblue h3 {
	color: #fff;
}
.box-zoo .uk-panel-title {
	color: #222;
}
.style-lightblue .header, .style-darkblue .header {
	color: #fff;
}
.mod-darkblue .uk-panel-title, .mod-box1 .uk-panel-title, .mod-box2 .uk-panel-title, .mod-lightblue a, .mod-lightblue .uk-panel-title, .style-darkblue .uk-panel-title, .style-lightblue .uk-panel-title {
	color: #fff !important;
}
.mod-darkblue a, .mod-box2 a, .mod-box3 a, .mod-gold a, .mod-lightblue a, .style-darkblue a, .style-lightblue a {
	color: #fff;
}
.mod-darkblue a:hover, .mod-box2 a:hover, .mod-box3 a:hover, .mod-gold a:hover, .mod-lightblue a:hover, .style-darkblue a:hover, .style-lightblue a:hover {
	color: #fff;
	text-decoration: underline;
}
.mod-darkblue ul li, .mod-gold ul li {
	border-top: 1px solid #777;
}
.mod-lightblue ul li {
	border-top: 1px solid #aaa;
}
.mod-gold a {
	color: #fff;
}
.mod-box1 a, .mod-box2 a {
	color: #D0BF6A;
}
.mod-box1 a:hover, .mod-box2 a:hover {
	color: #D0BF6A;
	text-decoration: underline;
}
.mod-box3 a {
	color: #ffffff;
}
.mod-box3 a:hover, .style-darkblue a:hover {
	color: #ffffff;
	text-decoration: underline;
}
li.lnd_latestnews {
	color: #D0BF6A;
	border-bottom: none;
	font-size: 100%;
}
li.lnd_latestnews a {
	font-weight: normal;
	display: block;
	margin-top: 3px;
}
ul.weblinks li {
	border: 0;
	width: auto !important;
	display: inline-block;
}
ul.weblinks li p {
	display: none;
}
ul.weblinks li a:hover {
	text-decoration: none !important;
}
ul.weblinks li a i {
	font-size: 40px;
}
.uk-panel-box.image {
	padding: 0;
	position: relative;
	min-height: 200px !important;
}
.uk-panel-box.image h3.uk-panel-title {
	display: none;
}
.uk-panel-box.image > div h3 {
	color: #fff;
	padding: 10px;
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	width: 50%;
	float: right;
}
.uk-panel-box.image > div {
	width: 100%;
	height: 100%;
	position: absolute;
	box-sizing: border-box;
	padding: 0;
	background-size: cover !important;
	overflow: hidden;
}
.uk-panel-box.image > div p {
	color: #fff;
	padding: 10px;
	width: 50%;
	float: right;
	min-height: 70%;
	line-height: 1.2;
}
.uk-panel-box.image.mod-box1 > div h3, .uk-panel-box.image.mod-box1 > div p {
	background: #6d809e;
	color: #fff;
}
.uk-panel-box.image.mod-box2 > div h3, .uk-panel-box.image.mod-box2 > div p {
	background: #2B167B;
	color: #fff;
}
.uk-panel-box.image.mod-box3 > div h3, .uk-panel-box.image.mod-box3 > div p {
	background: #D0BF6A;
	color: #111;
}
.uk-panel-box.image.mod-box4 > div h3, .uk-panel-box.image.mod-box4 > div p {
	background: #4F0F77;
	color: #fff;
}
.uk-panel-box.image.mod-box1 > div a, .uk-panel-box.image.mod-box2 > div a, .uk-panel-box.image.mod-box4 > div a {
	color: #D0BF6A;
}
.uk-panel-box.image.mod-box3 > div a {
	color: #fff;
}
.uk-article .weblinks {
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 0 !important;
	text-align: center !important;
}
.uk-article .weblinks li {
	display: inline-block !important;
	margin: 0 auto !important;
	text-align: center !important;
}
.uk-article .weblinks li a, h2 a {
	color: #2B167B !important;
	text-decoration: none !important;
}

/* ==================== MODULES - HEADER/FOOTER ==================== */

.tm-headerbar .uk-panel ul li a, .tm-footer .uk-panel ul li a {
	color: #fff;
	padding: 2px 5px;
}
.tm-headerbar .uk-panel ul li a:hover, .tm-footer .uk-panel ul li a:hover {
	color: #fff;
	text-decoration: underline;
}
.tm-headerbar .uk-panel ul li.uk-active, .tm-footer .uk-panel ul li.uk-active {
	background: #D0BF6A;
}
.tm-headerbar .uk-panel ul li.uk-active a, .tm-footer .uk-panel ul li.uk-active a {
	color: #2B167B;
	padding: 2px 5px;
}
.tm-headerbar .uk-panel ul li, .tm-footer .uk-panel ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}
.tm-headerbar .uk-panel ul li:first-child, .tm-footer .uk-panel ul li:first-child {
	margin: 0 10px 0 0;
	padding: 0;
	list-style: none;
	border: none;
}
.tm-headerbar .uk-subnav-line > :nth-child(n+2):before {
	margin: 0;
	border-left: none;
}
.box-zoo a {
	color: #2B167B;
}


/* ==================== CUSTOM HOMEPAGE ==================== */

.homepage .tm-content {
	display: none;
}
.homepage .uk-width-medium-3-4 {
	width: 66.6666667%;
}
.homepage .uk-width-medium-1-4 {
	width: 33.3333334%;
}
.homepage .tm-main > :nth-child(n+2) {
	margin-top: 0;
}
.carousel {
	margin: 0 !important;
}
.carousel-control {
	border-radius: 0 !important;
}
.carousel-control.left {
	left: 0;
	border-left: 0;
}
.carousel-control.right {
	right: 0;
	border-right: 0;
}

/* ==================== FOOTER ==================== */

.tm-footer .uk-panel, .tm-footer .uk-panel + .uk-panel {
	box-sizing: border-box;
	width: 33.333%;
	float: left;
	padding-left: 35px;
	margin-top: 0;
}
.tm-footer .full-width {
	float: none !important;
	width: 100% !important;
	text-align: left;
	clear: both;
	margin-top: 20px !important;
}
.tm-footer .uk-panel .uk-subnav-line li {
	margin: 0;
	padding: 10px 0;
	list-style: none;
	border-top: 1px solid #777;
	width: 100%;
	text-align: left;
}
.tm-footer .uk-panel ul li:first-child {
	margin: 0;
	padding: 10px 0
}
.tm-footer .uk-subnav-line > :nth-child(n+2):before {
	margin-right: 0;
	border-left: none;
}
.tm-footer p, .tm-footer div, .tm-footer span {
	color: #fff;
}
.social {
	font-size: 40px;
	margin: 20px 0;
	text-align: center;
}
.social a, .social a:hover {
	color: #fff;
	text-decoration: none;
}

/* ==================== COOKIE/ADS ==================== */

#cookieInfo {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px;
	color: #222;
	font-size: 18px;
	z-index: 2000;
	background: #2B167B;
	color: #D0BF6A;
	text-align: center;
	display: none;
	-webkit-transition: bottom 5s ease-in-out;
	transition: bottom 5s ease-in-out;
}
#cookieInfo a {
	color: #fff;
}
#cookieInfo a:hover {
	color: #fff;
	text-decoration: underline;
}
#adsInfo {
	padding: 20px 0;
	font-size: 18px;
	text-align: center;
}
#adsInfo a {
	color: #fff;
}
#adsInfo a:hover {
	color: #fff;
	text-decoration: underline;
}

/* ==================== BUTTONS ==================== */

.uk-button-primary {
	background-color: #2B167B;
	color: #ffffff;
}
/* Hover */
.uk-button-primary:hover,
.uk-button-primary:focus {
	background-color: #6d809e;
	color: #ffffff;
}
/* Active */
.uk-button-primary:active,
.uk-button-primary.uk-active {
	background-color: #6d809e;
	color: #ffffff;
}
/*
 * Modifier: `uk-button-success`
 */
.uk-button-success {
	background-color: #8cc14c;
	color: #ffffff;
}
/* Hover */
.uk-button-success:hover,
.uk-button-success:focus {
	background-color: #8ec73b;
	color: #ffffff;
}
/* Active */
.uk-button-success:active,
.uk-button-success.uk-active {
	background-color: #72ae41;
	color: #ffffff;
}
/*
 * Modifier: `uk-button-danger`
 */
.uk-button-danger {
	background-color: #da314b;
	color: #ffffff;
}
/* Hover */
.uk-button-danger:hover,
.uk-button-danger:focus {
	background-color: #e4354f;
	color: #ffffff;
}
/* Active */
.uk-button-danger:active,
.uk-button-danger.uk-active {
	background-color: #c91032;
	color: #ffffff;
}

/* ==================== BACK TO TOP ==================== */

.cd-top {
	display: inline-block;
	height: 60px;
	width: 60px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	overflow: hidden;
	white-space: nowrap;
	background: #2B167B;
	color: #fff;
	font-size: 4rem;
	text-align: center;
	line-height: 60px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
	padding: 0 !important;
	border: 3px solid #D0BF6A;
}
.cd-top i {
	line-height: 55px;
	color: #fff;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
	text-decoration: none;
}
.cd-top.cd-is-visible {
	visibility: visible;
	opacity: 0.8;
}
.cd-top.cd-is-visible:hover {
	visibility: visible;
	opacity: 1;
}
.cd-top.cd-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: .5;
}
.no-touch .cd-top:hover {
	background-color: rgba(64,47,115,0.8);
	opacity: 1;
}

/* ==================== MEDIA QUERIES ==================== */

@media screen and (max-width: 768px) {
	.homepage .uk-width-medium-3-4 {
	width: 100%;
	}
	.homepage .uk-width-medium-1-4 {
		width: 100%;
	}
	.tm-footer .uk-panel, .tm-footer .uk-panel + .uk-panel {
		width: 100%;
	}
	#cookieInfo {
		padding: 10px;
		font-size: 12px;
	}
	#tm-footer {
		padding-bottom: 80px;
	}
	#yoo-zoo.product-default-all-staff .teaser-item {
		width: 98% !important;
		margin: 1%;
	}
}
@media (min-width: 940px) and (max-width: 1100px) {
	.uk-navbar-nav > li > a, .uk-dropdown {
		font-size: 12px;
	}
	.uk-panel-box.image.mod-box1, .uk-panel-box.image.mod-box2, .uk-panel-box.image.mod-box3, .uk-panel-box.image.mod-box4 {
		font-size: 85%;
	}
}
@media (min-width: 768px) and (max-width: 940px) {
	.uk-navbar-nav > li > a, .uk-dropdown {
		font-size: 12px;
		padding: 0 5px;
	}
	.uk-visible-small {
		display: none !important;
	}
	.uk-visible-large {
		display: none !important ;
	}
	.uk-hidden-medium {
		display: none !important;
	}
	.uk-panel-box.image.mod-box1, .uk-panel-box.image.mod-box2, .uk-panel-box.image.mod-box3, .uk-panel-box.image.mod-box4 {
		font-size: 80%;
	}
	.uk-panel-box.image.mod-box1, .uk-panel-box.image.mod-box2, .uk-panel-box.image.mod-box3, .uk-panel-box.image.mod-box4 {
		font-size: 75%;
	}
}
@media (max-width: 767px) {
	.uk-visible-small {
		display: block !important;
	}
	.uk-visible-large {
		display: none !important ;
	}
	.uk-hidden-medium {
		display: none !important;
	}
}


/* ==================== FPSS ==================== */
.fpss-template-tt .slide-loading {
	display: none !important;
}
.fpss-template-tt {
	width: 100% !important;
	height: auto !important;
	margin: 0 0 20px 0 !important;
	padding: 0 !important;
	border: none !important;
	font-family: 'Roboto' !important;
	box-sizing: border-box !important;
}
.fpss-template-tt .slides-wrapper {
	width: 100% !important;
	height: 430px;
	box-sizing: border-box !important;
}
.fpss-template-tt .slide {
	width: 100% !important;
	height: 430px;
	box-sizing: border-box !important;
}
.fpss-template-tt img {
	width: 100% !important;
	height: 100% !important;
}
.fpss-template-tt .slidetext {
	background: rgba(0,0,0,0.75) !important;
	width: 100% !important;
	box-sizing: border-box !important;
}
.fpss-template-tt .slidetext h1 a {
	color: #D0BF6A !important;
	font-family: 'Roboto' !important;
}
.fpss-template-tt .navigation-wrapper {
	border: none !important;
	background: transparent !important;
	position: absolute !important;
	width: 100% !important;
	top: 40% !important;
	z-index: 100 !important;
}
.fpss-template-tt .navigation {
	padding: 0 !important;
	position: relative !important;
}
.fpss-template-tt .navigation li {
	position: absolute !important;
}
.fpss-template-tt .navigation li a {
	font-size: 30px !important;
	line-height: 1 !important;
	font-family: 'Roboto' !important;
	padding: 0 !important;
	color: #fff !important;
	text-decoration: none !important;
}
.fpss-template-tt .navigation li.navigation-button, .fpss-template-tt .navigation li.fpssPause {
	display: none !important;
}
.fpss-template-tt .navigation li.navigation-next, .fpss-template-tt .navigation li.navigation-previous {
	width: 35px !important;
	height: 35px !important;
	background: rgba(0,0,0,0.5) !important;
}
.fpss-template-tt .navigation li.navigation-previous {
	left: 0;
	border-top: 3px solid rgba(255,255,255,0.75);
	border-right: 3px solid rgba(255,255,255,0.75);
	border-bottom: 3px solid rgba(255,255,255,0.75);
}
.fpss-template-tt .navigation li.navigation-next {
	right: 0;
	border-top: 3px solid rgba(255,255,255,0.75);
	border-left: 3px solid rgba(255,255,255,0.75);
	border-bottom: 3px solid rgba(255,255,255,0.75);
}
.navigation-wrapper ul.navigation li {
	border: none;
}
.fpss-template-tt .slides-wrapper, .fpss-template-tt .slide {
	width: 100% !important;
	background: transparent;
}
.fpss-template-tt .slides {
	width: 100% !important;
	background: transparent;
}

/* ==================== ZOO ==================== */

.pos-related {
	margin-bottom: 20px !important;
}
.pos-bottom .element h3 {
	margin-bottom: 5px !important;
}
.description img {
	width: 100%;
	height: auto;
}
.uk-panel ul.zoo-tagcloud li {
	border: none;
}
.uk-panel ul.zoo-tagcloud li:nth-child(2n) a {
	color: #D0BF6A;
}
.box-zoo li.level1:last-child {
	padding-bottom: 0;
}
#yoo-zoo .details h1.title {
	font-family: "Roboto";
	font-size: 36px;
	letter-spacing: 0;
}
#yoo-zoo .items h1.pos-title, #yoo-zoo .item h1.pos-title {
	font-family: "Roboto";
	font-size: 26px;
	letter-spacing: 0 !important;
}
#yoo-zoo h1 {
	font-size: 26px;
	line-height: 26px;
	margin: 5px 5px 2px 0;
}
#yoo-zoo h1 a {
	text-decoration: none !important;
}
#yoo-zoo .details h1.title {
	font-size:26px;
	line-height: 26px;
	margin: 5px 5px 2px 0;
}
.box-zoo {
	margin-top: 15px;
}
.zoo-item-list p.title {
	color: #D0BF6A;
	font-size: 0.95em;
}
.uk-article .zoo-item-list .layout-default {
	margin-top: -5px;
}
modules .zoo-item-list .layout-default:first-child {
	margin-top: 0;
}
.uk-article .zoo-item-list .layout-default p.title {
	padding: 5px;
	background: #e0e0e0;
	color: #222;
	font-size: 0.95em;
	overflow: hidden;
}
.uk-article .zoo-item-list .layout-default p.title img {
	float: left;
	margin-right: 10px;
}
.uk-article .zoo-item-list .layout-default p.title a {
	color: #2B167B !important;
	font-weight: 700;
	display: block;
}
.zoo-item-list p.title a {
	color: #FFFFFF;
}
#slider .favslider {
	height: 100%;
}
#yoo-zoo .teaser-item img {
	border: 5px solid #e0e0e0;
}
#tm-content #yoo-zoo a {
	color: #2B167B;
}
#yoo-zoo.product-default .row {
	padding: 0;
	margin: 10px 0;
	border-top: 1px solid #e0e0e0;
}
#yoo-zoo.product-default-all-staff .row, #yoo-zoo.product-default-all-staff .width50, #yoo-zoo.product-default-all-staff ul.zoo-list li {
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
}
#yoo-zoo.product-default-all-staff ul.zoo-list {
	display: block;
	position: relative;
	overflow: hidden;
}
#yoo-zoo.product-default-all-staff ul.zoo-list li {
	float: left;
	margin: 1px !important;
}
#yoo-zoo.product-default-all-staff ul.zoo-list li a {
	display: block !important;
	padding: 5px 10px !important;
	background: #6d809e !important;
	color: #fff !important;
	text-decoration: none !important;
}
#yoo-zoo.product-default-all-staff ul.zoo-list li a.active {
	display: block !important;
	padding: 5px 10px !important;
	background: #D0BF6A !important;
	color: #2B167B!important;
	text-decoration: none !important;
}
#yoo-zoo.product-default-all-staff .teaser-item, .research50 {
	width: 48%;
	margin: 1%;
	padding: 0 !important;
}
.research50 {
	float: left;
}
#yoo-zoo.product-default .row .directors-office,
#yoo-zoo.product-default .row .centre-lead,
#yoo-zoo.product-default .row .group-lead,
#yoo-zoo.product-default .row .emeritus-staff,
#yoo-zoo.product-default .row .post-docs-and-clinical-researchers,
#yoo-zoo.product-default .row .phd-researchers,
#yoo-zoo.product-default .row .centre-for-cancer-and-inflammation,
#yoo-zoo.product-default .row .centre-for-haemato-oncology,
#yoo-zoo.product-default .row .centre-for-experimental-cancer-medicine,
#yoo-zoo.product-default .row .centre-for-tumour-biology,
#yoo-zoo.product-default .row .centre-for-molecular-oncology,
#yoo-zoo.product-default .row .centre-for-stem-cells-cancer-ageing {
	padding: 20px;
}
#yoo-zoo.product-default .row .directors-office {
	background: #D0BF6A;
}
#yoo-zoo.product-default .row div[class*='centre-lead'] {
	background: #e0e0e0;
}
#yoo-zoo .teaser-item .pos-description {
	font-weight: 700;
}
#yoo-zoo .teaser-item .pos-description p {
	font-weight: 300;
}
#yoo-zoo .teaser-item .pos-specification {
	clear: both;
}
#yoo-zoo .teaser-item .pos-specification li:nth-child(1) {
	margin-left: 0;
}
#yoo-zoo .teaser-item .pos-specification li:nth-child(2) {
	display: none;
}
#yoo-zoo .teaser-item .pos-specification li:nth-child(3) {
	margin-left: 0;
}
#yoo-zoo .teaser-item .pos-specification li:nth-child(4) {
	margin-left: 10px;
}
#yoo-zoo .teaser-item .pos-specification li:nth-child(4):before {
	content: "\2514 ";
	margin-right: 5px;
}
#yoo-zoo .teaser-item .directors-office .pos-specification li:nth-child(4) {
	margin-left: 10px;
}
#yoo-zoo .teaser-item .directors-office .pos-specification li:nth-child(4):before {
	content: "\2514 ";
	margin-right: 5px;
}
#yoo-zoo .teaser-item .pos-specification li:nth-child(5) {
	margin-left: 20px;
}
#yoo-zoo .teaser-item .pos-specification li:nth-child(5):before {
	content: "\2514 ";
	margin-right: 5px;
}
#yoo-zoo div.pos-announcements {
	background: #e0e0e0;
}
#yoo-zoo div.pos-announcements a {
	color: #2B167B;
}
#yoo-zoo.product-default .row .phd-research-students h2,
#yoo-zoo.product-default .row .phd-research-students p {
	font-size: 95% !important;
}
.w5 ul.zoo-list.product-default li {
	box-sizing: border-box;
	width: 48%;
	margin: 5px 0 0 0;
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	border-top: 0 !important;
}
@media screen and (max-width: 768px) {
	.w5 ul.zoo-list.product-default li {
		width: 100%;
		margin: 5px 0 0 0;
		display: inline-block;
	}
}
.w5 ul.zoo-list.product-default li:first-child {
	border-top: 1px solid #e0e0e0;
	padding-top: 5px;
}
.w5 h4.uk-h5 {
	padding: 5px;
	background: #e0e0e0;
	font-size: 18px;
}
.w5 #tm-content h4.uk-h5 a:link {
	color: #2B167B;
}
.w5 .uk-margin {
	margin: 0;
}
.w5 ul.zoo-list.product-default li ul.uk-subnav {
	margin-left: 0;
	margin-top: 5px;
}
.w5 ul.zoo-list.product-default li ul.uk-subnav li {
	width: 100%;
	margin: 5px 0;
	padding-left: 0;
}
.staff .zoo-item-list p.title {
	font-size: 18px;
	line-height: 1.3;
	font-weight: 700;
	color: #111;
}
.staff .zoo-item-list p.title a {
	color: #2B167B;
	display: block;
}
.zoo-item-list div[class*="layout-layout"] div.media-left {
	max-width: 200px;
}
.zoo-item-list div[class*="layout-layout"] div.media-left img {
	width: 100%;
	height: auto;
}
.uk-list.product-default {
	clear: both;
	overflow: hidden;
}
.uk-list.product-default li {
	width: 50%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
	border-top: none !important;
	margin-top: 0 !important;
	min-height: 160px;
}
aside .uk-list.product-default li {
	width: 100%;
}
.uk-list.product-default li a {
	display: block;
}
.uk-list.product-default li a img {
	display: block;
	float: left;
	border: 4px solid #e0e0e0;
}
.uk-list.product-default li div.media-left img {
	display: block;
	max-width: 100px;
	height: auto;
	margin-right: 10px;
}
.item .element-itemtag a {
	display: inline-block;
	padding: 5px 10px;
	background: #6d809e;
	color: #fff !important;
	text-decoration: none !important;
}
.pos-fellowships ul {
	font-weight: 400 !important;
}
#yoo-zoo.product-default .item .element-image img {
	padding: 5px !important;
}
#yoo-zoo h1, #yoo-zoo h2, #yoo-zoo h3, #yoo-zoo h4, #yoo-zoo h5, #yoo-zoo h6 {
	font-family: 'Roboto' !important;
}

/* ==================== ACCORDION ==================== */

.accordion-item, .accordionfaq {
	clear: both;
	border: 1px solid #e0e0e0;
	margin: 20px auto !important;
}
.accordion-item .element div, .tab-pane {
	padding: 10px;
}
.accordionfaqitem {
	padding: 10px;
	overflow: hidden;
}
.accordion-item .element h3, .tab-pane h2, .accordionfaqheader {
	background: #6d809e !important;
	color: #fff !important;
	margin: 0 !important;
	padding: 10px !important;
	cursor: pointer;
	border-bottom: 1px solid #e0e0e0 !important;
	font-size: 18px;
	line-height: 1;
}
.accordion-item .element h3 a {
	float: right !important;
	color: #fff !important;
	text-decoration: none !important;
}
.accordionfaqheader a {
	color: #fff !important;
	text-decoration: none !important;
}
.accordion-item .element h3:before, .accordionfaqheader a:before {
	font-family: 'bci';
	content: "\f055";
	margin-right: 5px;
}
.accordion-item .element h3.open:before, .accordionfaqheader.selected a:before {
	font-family: 'bci';
	content: "\f056";
	margin-right: 5px;
}
.accordion-item .element div h3, .tab-pane div h2 {
	background: transparent !important;
	color: #111 !important;
	border: none;
	cursor: default;
	padding: 0 !important;
}
.tab-content h2.nn_tabs-title {
	display: none;
}
.accordion-item .element h3.open, .accordionfaqheader.selected {
	background: #D0BF6A !important;
	color: #2B167B !important;
	margin: 0 !important;
	padding: 10px !important;
	cursor: pointer;
}
.accordionfaqheader.selected a {
	color: #2B167B !important;
	cursor: pointer;
}
.accordion-item iframe {
	display: block;
	margin: 20px auto;
}
.accordion-item div.videoWrapper {
	padding: 0;
	display: block !important;
}
.accordion-item div.videoWrapper iframe {
	margin: 0;
}

/* ==================== SEARCH RESULTS/BUTTONS ==================== */

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: #2B167B;
}
#search-results .uk-article {
	padding: 20px;
	border-top: 1px solid #e0e0e0;
	margin-top: 0;
}
#search-results .uk-article:first-child {
	border-top: 0;
}
#search-results .uk-article:nth-child(odd) {
	background: #e0e0e0;
}
#search-results .uk-article-title, h1.uk-article-title {

}
#search-results .uk-article-title a, h1.uk-article-title a {
	color: #2B167B;
}
span.highlight {
	background-color: #D0BF6A;
	color: #111;
}

/* ==================== FILTERING ==================== */

#filtering, #filteringRes {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}
#filter, #filteringRes ul.zoo-list {
	margin: 10px 0;
	padding: 0;
	width: 100%;
	display: block;
	clear: both;
}
#filter li, #filteringRes ul.zoo-list li {
	display: block;
	float: left;
	margin: 1px;
	border: none !important;
	padding-top: 0 !important;
}
#filter li a, #filteringRes ul.zoo-list li a {
	display: block !important;
	padding: 5px 10px !important;
	background: #6d809e !important;
	color: #fff !important;
	text-decoration: none !important;
}
#filter li a.active, #filteringRes ul.zoo-list li a.active {
	display: block;
	padding: 5px 10px;
	background: #D0BF6A !important;
	color: #2B167B!important;
	text-decoration: none !important;
}
.details {
	position: relative;
}
#grid {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}
#grid *, .items * {
	box-sizing: border-box;
}
#grid .centre {
	position: relative;
	width: 31.3333%;
	margin: 1%;
	border: 1px solid #e0e0e0;
	height: 260px;
	max-height: 260px;
	float: left;
}
#grid .strength {
	position: relative;
	width: 23%;
	margin: 1%;
	border: 1px solid #e0e0e0;
	height: 260px;
	max-height: 190px;
	float: left;
}
#yoo-zoo .items .row, #yoo-zoo .items .width50 {
	border: none !important;
}
.items .view-all-researchers {
	position: relative;
	width: 31.3333%;
	margin: 1%;
	border: 1px solid #e0e0e0;
	float: left;
	padding: 10px;
}
#grid .centre h4, #grid .strength h4 {
	padding: 10px;
	text-align: center;
	background: rgba(0,0,0,0.75);
	color: #D0BF6A;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;
}
#grid .centre h4 a, #grid .strength h4 a, #grid .centre a h4, #grid .strength a h4 {
	color: #D0BF6A !important;
	text-decoration: none !important;
}
#grid .centre img, #grid .strength img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
@media screen and (max-width: 768px) {
	#grid .centre, #grid .strength {
		width: 48%;
		max-height: 330px;
	}
}
@media screen and (max-width: 500px) {
	#grid .centre, #grid .strength {
		width: 98%;
		max-height: 250px;
	}
}

a[title="Print"], a[title="Email"] {
	display: none;
}

/* ==================== CENTRE LEAD ==================== */

.centerlead {
	text-align: center;
}
.centerlead li {
	margin: 0 auto !important;
	float: none !important;
	width: 100% !important;
	background: #e0e0e0;
}
.centerlead li img {
	float: none !important;
	display: block !important;
	margin: 0 auto !important;
}

/* ==================== TABLES ==================== */

table.bci {
	border: 1px solid #ccc;
	width: 100%;
	margin:0;
	padding:0;
	border-collapse: collapse;
	border-spacing: 0;
}

table.bci tr {
	border: 1px solid #ddd;
	padding: 5px;
}

table.bci th, table.bci td {
	padding: 10px !important;
	text-align: center;
}

table.bci th {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
}


	table.bci {
		border: 0;
	}

	table.bci th, table.bci thead {
		display: none;
	}

	table.bci tr {
		margin-bottom: 10px;
		display: block;
		border-bottom: 2px solid #ddd;
	}

	table.bci td {
		display: block;
		text-align: right;
		font-size: 13px;
		border-bottom: 1px dotted #ccc;
	}

	table.bci td:last-child {
		border-bottom: 0;
	}

	table.bci td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
	}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25% !important; /* 16:9 */
	padding-top: 25px !important;
	height: 0 !important;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ==================== FORMS ==================== */

form div, .accordion-item .element div form div {
	padding: 0 !important;
}
.formResponsive textarea, .formResponsive input[type="text"], .formResponsive input[type="number"], .formResponsive input[type="email"], .formResponsive input[type="tel"], .formResponsive input[type="url"], .formResponsive input[type="password"] {
	border-radius: 0 !important;
}
.formResponsive .formHorizontal input, .formResponsive .formHorizontal textarea, .formResponsive .formHorizontal select, .formResponsive .formHorizontal .formValidation, .formResponsive .formHorizontal .uneditable-input, .formResponsive .formHorizontal .input-prepend, .formResponsive .formHorizontal .input-append {
	border-radius: 0 !important;
}
.formResponsive select[multiple], .formResponsive select[size] {
	border-radius: 0 !important;
}
.formResponsive input[type="submit"], .formResponsive button[type="submit"] {
	background: #e0e0e0 !important;
	border: 1px solid #2B167B !important;
	border-radius: 0 !important;
	color: #222222 !important;
	text-shadow: none !important;
}
.formResponsive input[type="submit"]:hover, .formResponsive button[type="submit"]:hover {
	background: #e0e0e0 !important;
	border: 1px solid #2B167B !important;
	border-radius: 0 !important;
	color: #222222 !important;
	text-shadow: none !important;
}
