@font-face {
    font-family: 'bci';
    src: url('../fonts/bci.eot?otga5t');
    src: url('../fonts/bci.eot?otga5t#iefix') format('embedded-opentype'),
        url('../fonts/bci.ttf?otga5t') format('truetype'),
        url('../fonts/bci.woff?otga5t') format('woff'),
        url('../fonts/bci.svg?otga5t#bci') format('svg');
    font-weight: normal;
    font-style: normal;
}
i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'bci' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bci-glass:before {
    content: "\f000";
}
.bci-music:before {
    content: "\f001";
}
.bci-search:before {
    content: "\f002";
}
.bci-envelope-o:before {
    content: "\f003";
}
.bci-heart:before {
    content: "\f004";
}
.bci-star:before {
    content: "\f005";
}
.bci-star-o:before {
    content: "\f006";
}
.bci-user:before {
    content: "\f007";
}
.bci-film:before {
    content: "\f008";
}
.bci-th-large:before {
    content: "\f009";
}
.bci-th:before {
    content: "\f00a";
}
.bci-th-list:before {
    content: "\f00b";
}
.bci-check:before {
    content: "\f00c";
}
.bci-close:before {
    content: "\f00d";
}
.bci-remove:before {
    content: "\f00d";
}
.bci-times:before {
    content: "\f00d";
}
.bci-search-plus:before {
    content: "\f00e";
}
.bci-search-minus:before {
    content: "\f010";
}
.bci-power-off:before {
    content: "\f011";
}
.bci-signal:before {
    content: "\f012";
}
.bci-cog:before {
    content: "\f013";
}
.bci-gear:before {
    content: "\f013";
}
.bci-trash-o:before {
    content: "\f014";
}
.bci-home:before {
    content: "\f015";
}
.bci-file-o:before {
    content: "\f016";
}
.bci-clock-o:before {
    content: "\f017";
}
.bci-road:before {
    content: "\f018";
}
.bci-download:before {
    content: "\f019";
}
.bci-arrow-circle-o-down:before {
    content: "\f01a";
}
.bci-arrow-circle-o-up:before {
    content: "\f01b";
}
.bci-inbox:before {
    content: "\f01c";
}
.bci-play-circle-o:before {
    content: "\f01d";
}
.bci-repeat:before {
    content: "\f01e";
}
.bci-rotate-right:before {
    content: "\f01e";
}
.bci-refresh:before {
    content: "\f021";
}
.bci-list-alt:before {
    content: "\f022";
}
.bci-lock:before {
    content: "\f023";
}
.bci-flag:before {
    content: "\f024";
}
.bci-headphones:before {
    content: "\f025";
}
.bci-volume-off:before {
    content: "\f026";
}
.bci-volume-down:before {
    content: "\f027";
}
.bci-volume-up:before {
    content: "\f028";
}
.bci-qrcode:before {
    content: "\f029";
}
.bci-barcode:before {
    content: "\f02a";
}
.bci-tag:before {
    content: "\f02b";
}
.bci-tags:before {
    content: "\f02c";
}
.bci-book:before {
    content: "\f02d";
}
.bci-bookmark:before {
    content: "\f02e";
}
.bci-print:before {
    content: "\f02f";
}
.bci-camera:before {
    content: "\f030";
}
.bci-font:before {
    content: "\f031";
}
.bci-bold:before {
    content: "\f032";
}
.bci-italic:before {
    content: "\f033";
}
.bci-text-height:before {
    content: "\f034";
}
.bci-text-width:before {
    content: "\f035";
}
.bci-align-left:before {
    content: "\f036";
}
.bci-align-center:before {
    content: "\f037";
}
.bci-align-right:before {
    content: "\f038";
}
.bci-align-justify:before {
    content: "\f039";
}
.bci-list:before {
    content: "\f03a";
}
.bci-dedent:before {
    content: "\f03b";
}
.bci-outdent:before {
    content: "\f03b";
}
.bci-indent:before {
    content: "\f03c";
}
.bci-video-camera:before {
    content: "\f03d";
}
.bci-image:before {
    content: "\f03e";
}
.bci-photo:before {
    content: "\f03e";
}
.bci-picture-o:before {
    content: "\f03e";
}
.bci-pencil:before {
    content: "\f040";
}
.bci-map-marker:before {
    content: "\f041";
}
.bci-adjust:before {
    content: "\f042";
}
.bci-tint:before {
    content: "\f043";
}
.bci-edit:before {
    content: "\f044";
}
.bci-pencil-square-o:before {
    content: "\f044";
}
.bci-share-square-o:before {
    content: "\f045";
}
.bci-check-square-o:before {
    content: "\f046";
}
.bci-arrows:before {
    content: "\f047";
}
.bci-step-backward:before {
    content: "\f048";
}
.bci-fast-backward:before {
    content: "\f049";
}
.bci-backward:before {
    content: "\f04a";
}
.bci-play:before {
    content: "\f04b";
}
.bci-pause:before {
    content: "\f04c";
}
.bci-stop:before {
    content: "\f04d";
}
.bci-forward:before {
    content: "\f04e";
}
.bci-fast-forward:before {
    content: "\f050";
}
.bci-step-forward:before {
    content: "\f051";
}
.bci-eject:before {
    content: "\f052";
}
.bci-chevron-left:before {
    content: "\f053";
}
.bci-chevron-right:before {
    content: "\f054";
}
.bci-plus-circle:before {
    content: "\f055";
}
.bci-minus-circle:before {
    content: "\f056";
}
.bci-times-circle:before {
    content: "\f057";
}
.bci-check-circle:before {
    content: "\f058";
}
.bci-question-circle:before {
    content: "\f059";
}
.bci-info-circle:before {
    content: "\f05a";
}
.bci-crosshairs:before {
    content: "\f05b";
}
.bci-times-circle-o:before {
    content: "\f05c";
}
.bci-check-circle-o:before {
    content: "\f05d";
}
.bci-ban:before {
    content: "\f05e";
}
.bci-arrow-left:before {
    content: "\f060";
}
.bci-arrow-right:before {
    content: "\f061";
}
.bci-arrow-up:before {
    content: "\f062";
}
.bci-arrow-down:before {
    content: "\f063";
}
.bci-mail-forward:before {
    content: "\f064";
}
.bci-share:before {
    content: "\f064";
}
.bci-expand:before {
    content: "\f065";
}
.bci-compress:before {
    content: "\f066";
}
.bci-plus:before {
    content: "\f067";
}
.bci-minus:before {
    content: "\f068";
}
.bci-asterisk:before {
    content: "\f069";
}
.bci-exclamation-circle:before {
    content: "\f06a";
}
.bci-gift:before {
    content: "\f06b";
}
.bci-leaf:before {
    content: "\f06c";
}
.bci-fire:before {
    content: "\f06d";
}
.bci-eye:before {
    content: "\f06e";
}
.bci-eye-slash:before {
    content: "\f070";
}
.bci-exclamation-triangle:before {
    content: "\f071";
}
.bci-warning:before {
    content: "\f071";
}
.bci-plane:before {
    content: "\f072";
}
.bci-calendar:before {
    content: "\f073";
}
.bci-random:before {
    content: "\f074";
}
.bci-comment:before {
    content: "\f075";
}
.bci-magnet:before {
    content: "\f076";
}
.bci-chevron-up:before {
    content: "\f077";
}
.bci-chevron-down:before {
    content: "\f078";
}
.bci-retweet:before {
    content: "\f079";
}
.bci-shopping-cart:before {
    content: "\f07a";
}
.bci-folder:before {
    content: "\f07b";
}
.bci-folder-open:before {
    content: "\f07c";
}
.bci-arrows-v:before {
    content: "\f07d";
}
.bci-arrows-h:before {
    content: "\f07e";
}
.bci-bar-chart:before {
    content: "\f080";
}
.bci-bar-chart-o:before {
    content: "\f080";
}
.bci-twitter-square:before {
    content: "\f081";
}
.bci-facebook-square:before {
    content: "\f082";
}
.bci-camera-retro:before {
    content: "\f083";
}
.bci-key:before {
    content: "\f084";
}
.bci-cogs:before {
    content: "\f085";
}
.bci-gears:before {
    content: "\f085";
}
.bci-comments:before {
    content: "\f086";
}
.bci-thumbs-o-up:before {
    content: "\f087";
}
.bci-thumbs-o-down:before {
    content: "\f088";
}
.bci-star-half:before {
    content: "\f089";
}
.bci-heart-o:before {
    content: "\f08a";
}
.bci-sign-out:before {
    content: "\f08b";
}
.bci-linkedin-square:before {
    content: "\f08c";
}
.bci-thumb-tack:before {
    content: "\f08d";
}
.bci-external-link:before {
    content: "\f08e";
}
.bci-sign-in:before {
    content: "\f090";
}
.bci-trophy:before {
    content: "\f091";
}
.bci-github-square:before {
    content: "\f092";
}
.bci-upload:before {
    content: "\f093";
}
.bci-lemon-o:before {
    content: "\f094";
}
.bci-phone:before {
    content: "\f095";
}
.bci-square-o:before {
    content: "\f096";
}
.bci-bookmark-o:before {
    content: "\f097";
}
.bci-phone-square:before {
    content: "\f098";
}
.bci-twitter:before {
    content: "\f099";
}
.bci-facebook:before {
    content: "\f09a";
}
.bci-facebook-f:before {
    content: "\f09a";
}
.bci-github:before {
    content: "\f09b";
}
.bci-unlock:before {
    content: "\f09c";
}
.bci-credit-card:before {
    content: "\f09d";
}
.bci-feed:before {
    content: "\f09e";
}
.bci-rss:before {
    content: "\f09e";
}
.bci-hdd-o:before {
    content: "\f0a0";
}
.bci-bullhorn:before {
    content: "\f0a1";
}
.bci-bell-o:before {
    content: "\f0a2";
}
.bci-certificate:before {
    content: "\f0a3";
}
.bci-hand-o-right:before {
    content: "\f0a4";
}
.bci-hand-o-left:before {
    content: "\f0a5";
}
.bci-hand-o-up:before {
    content: "\f0a6";
}
.bci-hand-o-down:before {
    content: "\f0a7";
}
.bci-arrow-circle-left:before {
    content: "\f0a8";
}
.bci-arrow-circle-right:before {
    content: "\f0a9";
}
.bci-arrow-circle-up:before {
    content: "\f0aa";
}
.bci-arrow-circle-down:before {
    content: "\f0ab";
}
.bci-globe:before {
    content: "\f0ac";
}
.bci-wrench:before {
    content: "\f0ad";
}
.bci-tasks:before {
    content: "\f0ae";
}
.bci-filter:before {
    content: "\f0b0";
}
.bci-briefcase:before {
    content: "\f0b1";
}
.bci-arrows-alt:before {
    content: "\f0b2";
}
.bci-group:before {
    content: "\f0c0";
}
.bci-users:before {
    content: "\f0c0";
}
.bci-chain:before {
    content: "\f0c1";
}
.bci-link:before {
    content: "\f0c1";
}
.bci-cloud:before {
    content: "\f0c2";
}
.bci-flask:before {
    content: "\f0c3";
}
.bci-cut:before {
    content: "\f0c4";
}
.bci-scissors:before {
    content: "\f0c4";
}
.bci-copy:before {
    content: "\f0c5";
}
.bci-files-o:before {
    content: "\f0c5";
}
.bci-paperclip:before {
    content: "\f0c6";
}
.bci-floppy-o:before {
    content: "\f0c7";
}
.bci-save:before {
    content: "\f0c7";
}
.bci-square:before {
    content: "\f0c8";
}
.bci-bars:before {
    content: "\f0c9";
}
.bci-navicon:before {
    content: "\f0c9";
}
.bci-reorder:before {
    content: "\f0c9";
}
.bci-list-ul:before {
    content: "\f0ca";
}
.bci-list-ol:before {
    content: "\f0cb";
}
.bci-strikethrough:before {
    content: "\f0cc";
}
.bci-underline:before {
    content: "\f0cd";
}
.bci-table:before {
    content: "\f0ce";
}
.bci-magic:before {
    content: "\f0d0";
}
.bci-truck:before {
    content: "\f0d1";
}
.bci-pinterest:before {
    content: "\f0d2";
}
.bci-pinterest-square:before {
    content: "\f0d3";
}
.bci-google-plus-square:before {
    content: "\f0d4";
}
.bci-google-plus:before {
    content: "\f0d5";
}
.bci-money:before {
    content: "\f0d6";
}
.bci-caret-down:before {
    content: "\f0d7";
}
.bci-caret-up:before {
    content: "\f0d8";
}
.bci-caret-left:before {
    content: "\f0d9";
}
.bci-caret-right:before {
    content: "\f0da";
}
.bci-columns:before {
    content: "\f0db";
}
.bci-sort:before {
    content: "\f0dc";
}
.bci-unsorted:before {
    content: "\f0dc";
}
.bci-sort-desc:before {
    content: "\f0dd";
}
.bci-sort-down:before {
    content: "\f0dd";
}
.bci-sort-asc:before {
    content: "\f0de";
}
.bci-sort-up:before {
    content: "\f0de";
}
.bci-envelope:before {
    content: "\f0e0";
}
.bci-linkedin:before {
    content: "\f0e1";
}
.bci-rotate-left:before {
    content: "\f0e2";
}
.bci-undo:before {
    content: "\f0e2";
}
.bci-gavel:before {
    content: "\f0e3";
}
.bci-legal:before {
    content: "\f0e3";
}
.bci-dashboard:before {
    content: "\f0e4";
}
.bci-tachometer:before {
    content: "\f0e4";
}
.bci-comment-o:before {
    content: "\f0e5";
}
.bci-comments-o:before {
    content: "\f0e6";
}
.bci-bolt:before {
    content: "\f0e7";
}
.bci-flash:before {
    content: "\f0e7";
}
.bci-sitemap:before {
    content: "\f0e8";
}
.bci-umbrella:before {
    content: "\f0e9";
}
.bci-clipboard:before {
    content: "\f0ea";
}
.bci-paste:before {
    content: "\f0ea";
}
.bci-lightbulb-o:before {
    content: "\f0eb";
}
.bci-exchange:before {
    content: "\f0ec";
}
.bci-cloud-download:before {
    content: "\f0ed";
}
.bci-cloud-upload:before {
    content: "\f0ee";
}
.bci-user-md:before {
    content: "\f0f0";
}
.bci-stethoscope:before {
    content: "\f0f1";
}
.bci-suitcase:before {
    content: "\f0f2";
}
.bci-bell:before {
    content: "\f0f3";
}
.bci-coffee:before {
    content: "\f0f4";
}
.bci-cutlery:before {
    content: "\f0f5";
}
.bci-file-text-o:before {
    content: "\f0f6";
}
.bci-building-o:before {
    content: "\f0f7";
}
.bci-hospital-o:before {
    content: "\f0f8";
}
.bci-ambulance:before {
    content: "\f0f9";
}
.bci-medkit:before {
    content: "\f0fa";
}
.bci-fighter-jet:before {
    content: "\f0fb";
}
.bci-beer:before {
    content: "\f0fc";
}
.bci-h-square:before {
    content: "\f0fd";
}
.bci-plus-square:before {
    content: "\f0fe";
}
.bci-angle-double-left:before {
    content: "\f100";
}
.bci-angle-double-right:before {
    content: "\f101";
}
.bci-angle-double-up:before {
    content: "\f102";
}
.bci-angle-double-down:before {
    content: "\f103";
}
.bci-angle-left:before {
    content: "\f104";
}
.bci-angle-right:before {
    content: "\f105";
}
.bci-angle-up:before {
    content: "\f106";
}
.bci-angle-down:before {
    content: "\f107";
}
.bci-desktop:before {
    content: "\f108";
}
.bci-laptop:before {
    content: "\f109";
}
.bci-tablet:before {
    content: "\f10a";
}
.bci-mobile:before {
    content: "\f10b";
}
.bci-mobile-phone:before {
    content: "\f10b";
}
.bci-circle-o:before {
    content: "\f10c";
}
.bci-quote-left:before {
    content: "\f10d";
}
.bci-quote-right:before {
    content: "\f10e";
}
.bci-spinner:before {
    content: "\f110";
}
.bci-circle:before {
    content: "\f111";
}
.bci-mail-reply:before {
    content: "\f112";
}
.bci-reply:before {
    content: "\f112";
}
.bci-github-alt:before {
    content: "\f113";
}
.bci-folder-o:before {
    content: "\f114";
}
.bci-folder-open-o:before {
    content: "\f115";
}
.bci-smile-o:before {
    content: "\f118";
}
.bci-frown-o:before {
    content: "\f119";
}
.bci-meh-o:before {
    content: "\f11a";
}
.bci-gamepad:before {
    content: "\f11b";
}
.bci-keyboard-o:before {
    content: "\f11c";
}
.bci-flag-o:before {
    content: "\f11d";
}
.bci-flag-checkered:before {
    content: "\f11e";
}
.bci-terminal:before {
    content: "\f120";
}
.bci-code:before {
    content: "\f121";
}
.bci-mail-reply-all:before {
    content: "\f122";
}
.bci-reply-all:before {
    content: "\f122";
}
.bci-star-half-empty:before {
    content: "\f123";
}
.bci-star-half-full:before {
    content: "\f123";
}
.bci-star-half-o:before {
    content: "\f123";
}
.bci-location-arrow:before {
    content: "\f124";
}
.bci-crop:before {
    content: "\f125";
}
.bci-code-fork:before {
    content: "\f126";
}
.bci-chain-broken:before {
    content: "\f127";
}
.bci-unlink:before {
    content: "\f127";
}
.bci-question:before {
    content: "\f128";
}
.bci-info:before {
    content: "\f129";
}
.bci-exclamation:before {
    content: "\f12a";
}
.bci-superscript:before {
    content: "\f12b";
}
.bci-subscript:before {
    content: "\f12c";
}
.bci-eraser:before {
    content: "\f12d";
}
.bci-puzzle-piece:before {
    content: "\f12e";
}
.bci-microphone:before {
    content: "\f130";
}
.bci-microphone-slash:before {
    content: "\f131";
}
.bci-shield:before {
    content: "\f132";
}
.bci-calendar-o:before {
    content: "\f133";
}
.bci-fire-extinguisher:before {
    content: "\f134";
}
.bci-rocket:before {
    content: "\f135";
}
.bci-maxcdn:before {
    content: "\f136";
}
.bci-chevron-circle-left:before {
    content: "\f137";
}
.bci-chevron-circle-right:before {
    content: "\f138";
}
.bci-chevron-circle-up:before {
    content: "\f139";
}
.bci-chevron-circle-down:before {
    content: "\f13a";
}
.bci-html5:before {
    content: "\f13b";
}
.bci-css3:before {
    content: "\f13c";
}
.bci-anchor:before {
    content: "\f13d";
}
.bci-unlock-alt:before {
    content: "\f13e";
}
.bci-bullseye:before {
    content: "\f140";
}
.bci-ellipsis-h:before {
    content: "\f141";
}
.bci-ellipsis-v:before {
    content: "\f142";
}
.bci-rss-square:before {
    content: "\f143";
}
.bci-play-circle:before {
    content: "\f144";
}
.bci-ticket:before {
    content: "\f145";
}
.bci-minus-square:before {
    content: "\f146";
}
.bci-minus-square-o:before {
    content: "\f147";
}
.bci-level-up:before {
    content: "\f148";
}
.bci-level-down:before {
    content: "\f149";
}
.bci-check-square:before {
    content: "\f14a";
}
.bci-pencil-square:before {
    content: "\f14b";
}
.bci-external-link-square:before {
    content: "\f14c";
}
.bci-share-square:before {
    content: "\f14d";
}
.bci-compass:before {
    content: "\f14e";
}
.bci-caret-square-o-down:before {
    content: "\f150";
}
.bci-toggle-down:before {
    content: "\f150";
}
.bci-caret-square-o-up:before {
    content: "\f151";
}
.bci-toggle-up:before {
    content: "\f151";
}
.bci-caret-square-o-right:before {
    content: "\f152";
}
.bci-toggle-right:before {
    content: "\f152";
}
.bci-eur:before {
    content: "\f153";
}
.bci-euro:before {
    content: "\f153";
}
.bci-gbp:before {
    content: "\f154";
}
.bci-dollar:before {
    content: "\f155";
}
.bci-usd:before {
    content: "\f155";
}
.bci-inr:before {
    content: "\f156";
}
.bci-rupee:before {
    content: "\f156";
}
.bci-cny:before {
    content: "\f157";
}
.bci-jpy:before {
    content: "\f157";
}
.bci-rmb:before {
    content: "\f157";
}
.bci-yen:before {
    content: "\f157";
}
.bci-rouble:before {
    content: "\f158";
}
.bci-rub:before {
    content: "\f158";
}
.bci-ruble:before {
    content: "\f158";
}
.bci-krw:before {
    content: "\f159";
}
.bci-won:before {
    content: "\f159";
}
.bci-bitcoin:before {
    content: "\f15a";
}
.bci-btc:before {
    content: "\f15a";
}
.bci-file:before {
    content: "\f15b";
}
.bci-file-text:before {
    content: "\f15c";
}
.bci-sort-alpha-asc:before {
    content: "\f15d";
}
.bci-sort-alpha-desc:before {
    content: "\f15e";
}
.bci-sort-amount-asc:before {
    content: "\f160";
}
.bci-sort-amount-desc:before {
    content: "\f161";
}
.bci-sort-numeric-asc:before {
    content: "\f162";
}
.bci-sort-numeric-desc:before {
    content: "\f163";
}
.bci-thumbs-up:before {
    content: "\f164";
}
.bci-thumbs-down:before {
    content: "\f165";
}
.bci-youtube-square:before {
    content: "\f166";
}
.bci-youtube:before {
    content: "\f167";
}
.bci-xing:before {
    content: "\f168";
}
.bci-xing-square:before {
    content: "\f169";
}
.bci-youtube-play:before {
    content: "\f16a";
}
.bci-dropbox:before {
    content: "\f16b";
}
.bci-stack-overflow:before {
    content: "\f16c";
}
.bci-instagram:before {
    content: "\f16d";
}
.bci-flickr:before {
    content: "\f16e";
}
.bci-adn:before {
    content: "\f170";
}
.bci-bitbucket:before {
    content: "\f171";
}
.bci-bitbucket-square:before {
    content: "\f172";
}
.bci-tumblr:before {
    content: "\f173";
}
.bci-tumblr-square:before {
    content: "\f174";
}
.bci-long-arrow-down:before {
    content: "\f175";
}
.bci-long-arrow-up:before {
    content: "\f176";
}
.bci-long-arrow-left:before {
    content: "\f177";
}
.bci-long-arrow-right:before {
    content: "\f178";
}
.bci-apple:before {
    content: "\f179";
}
.bci-windows:before {
    content: "\f17a";
}
.bci-android:before {
    content: "\f17b";
}
.bci-linux:before {
    content: "\f17c";
}
.bci-dribbble:before {
    content: "\f17d";
}
.bci-skype:before {
    content: "\f17e";
}
.bci-foursquare:before {
    content: "\f180";
}
.bci-trello:before {
    content: "\f181";
}
.bci-female:before {
    content: "\f182";
}
.bci-male:before {
    content: "\f183";
}
.bci-gittip:before {
    content: "\f184";
}
.bci-gratipay:before {
    content: "\f184";
}
.bci-sun-o:before {
    content: "\f185";
}
.bci-moon-o:before {
    content: "\f186";
}
.bci-archive:before {
    content: "\f187";
}
.bci-bug:before {
    content: "\f188";
}
.bci-vk:before {
    content: "\f189";
}
.bci-weibo:before {
    content: "\f18a";
}
.bci-renren:before {
    content: "\f18b";
}
.bci-pagelines:before {
    content: "\f18c";
}
.bci-stack-exchange:before {
    content: "\f18d";
}
.bci-arrow-circle-o-right:before {
    content: "\f18e";
}
.bci-arrow-circle-o-left:before {
    content: "\f190";
}
.bci-caret-square-o-left:before {
    content: "\f191";
}
.bci-toggle-left:before {
    content: "\f191";
}
.bci-dot-circle-o:before {
    content: "\f192";
}
.bci-wheelchair:before {
    content: "\f193";
}
.bci-vimeo-square:before {
    content: "\f194";
}
.bci-try:before {
    content: "\f195";
}
.bci-turkish-lira:before {
    content: "\f195";
}
.bci-plus-square-o:before {
    content: "\f196";
}
.bci-space-shuttle:before {
    content: "\f197";
}
.bci-slack:before {
    content: "\f198";
}
.bci-envelope-square:before {
    content: "\f199";
}
.bci-wordpress:before {
    content: "\f19a";
}
.bci-openid:before {
    content: "\f19b";
}
.bci-bank:before {
    content: "\f19c";
}
.bci-institution:before {
    content: "\f19c";
}
.bci-university:before {
    content: "\f19c";
}
.bci-graduation-cap:before {
    content: "\f19d";
}
.bci-mortar-board:before {
    content: "\f19d";
}
.bci-yahoo:before {
    content: "\f19e";
}
.bci-google:before {
    content: "\f1a0";
}
.bci-reddit:before {
    content: "\f1a1";
}
.bci-reddit-square:before {
    content: "\f1a2";
}
.bci-stumbleupon-circle:before {
    content: "\f1a3";
}
.bci-stumbleupon:before {
    content: "\f1a4";
}
.bci-delicious:before {
    content: "\f1a5";
}
.bci-digg:before {
    content: "\f1a6";
}
.bci-pied-piper:before {
    content: "\f1a7";
}
.bci-pied-piper-alt:before {
    content: "\f1a8";
}
.bci-drupal:before {
    content: "\f1a9";
}
.bci-joomla:before {
    content: "\f1aa";
}
.bci-language:before {
    content: "\f1ab";
}
.bci-fax:before {
    content: "\f1ac";
}
.bci-building:before {
    content: "\f1ad";
}
.bci-child:before {
    content: "\f1ae";
}
.bci-paw:before {
    content: "\f1b0";
}
.bci-spoon:before {
    content: "\f1b1";
}
.bci-cube:before {
    content: "\f1b2";
}
.bci-cubes:before {
    content: "\f1b3";
}
.bci-behance:before {
    content: "\f1b4";
}
.bci-behance-square:before {
    content: "\f1b5";
}
.bci-steam:before {
    content: "\f1b6";
}
.bci-steam-square:before {
    content: "\f1b7";
}
.bci-recycle:before {
    content: "\f1b8";
}
.bci-automobile:before {
    content: "\f1b9";
}
.bci-car:before {
    content: "\f1b9";
}
.bci-cab:before {
    content: "\f1ba";
}
.bci-taxi:before {
    content: "\f1ba";
}
.bci-tree:before {
    content: "\f1bb";
}
.bci-spotify:before {
    content: "\f1bc";
}
.bci-deviantart:before {
    content: "\f1bd";
}
.bci-soundcloud:before {
    content: "\f1be";
}
.bci-database:before {
    content: "\f1c0";
}
.bci-file-pdf-o:before {
    content: "\f1c1";
}
.bci-file-word-o:before {
    content: "\f1c2";
}
.bci-file-excel-o:before {
    content: "\f1c3";
}
.bci-file-powerpoint-o:before {
    content: "\f1c4";
}
.bci-file-image-o:before {
    content: "\f1c5";
}
.bci-file-photo-o:before {
    content: "\f1c5";
}
.bci-file-picture-o:before {
    content: "\f1c5";
}
.bci-file-archive-o:before {
    content: "\f1c6";
}
.bci-file-zip-o:before {
    content: "\f1c6";
}
.bci-file-audio-o:before {
    content: "\f1c7";
}
.bci-file-sound-o:before {
    content: "\f1c7";
}
.bci-file-movie-o:before {
    content: "\f1c8";
}
.bci-file-video-o:before {
    content: "\f1c8";
}
.bci-file-code-o:before {
    content: "\f1c9";
}
.bci-vine:before {
    content: "\f1ca";
}
.bci-codepen:before {
    content: "\f1cb";
}
.bci-jsfiddle:before {
    content: "\f1cc";
}
.bci-life-bouy:before {
    content: "\f1cd";
}
.bci-life-buoy:before {
    content: "\f1cd";
}
.bci-life-ring:before {
    content: "\f1cd";
}
.bci-life-saver:before {
    content: "\f1cd";
}
.bci-support:before {
    content: "\f1cd";
}
.bci-circle-o-notch:before {
    content: "\f1ce";
}
.bci-ra:before {
    content: "\f1d0";
}
.bci-rebel:before {
    content: "\f1d0";
}
.bci-empire:before {
    content: "\f1d1";
}
.bci-ge:before {
    content: "\f1d1";
}
.bci-git-square:before {
    content: "\f1d2";
}
.bci-git:before {
    content: "\f1d3";
}
.bci-hacker-news:before {
    content: "\f1d4";
}
.bci-y-combinator-square:before {
    content: "\f1d4";
}
.bci-yc-square:before {
    content: "\f1d4";
}
.bci-tencent-weibo:before {
    content: "\f1d5";
}
.bci-qq:before {
    content: "\f1d6";
}
.bci-wechat:before {
    content: "\f1d7";
}
.bci-weixin:before {
    content: "\f1d7";
}
.bci-paper-plane:before {
    content: "\f1d8";
}
.bci-send:before {
    content: "\f1d8";
}
.bci-paper-plane-o:before {
    content: "\f1d9";
}
.bci-send-o:before {
    content: "\f1d9";
}
.bci-history:before {
    content: "\f1da";
}
.bci-circle-thin:before {
    content: "\f1db";
}
.bci-header:before {
    content: "\f1dc";
}
.bci-paragraph:before {
    content: "\f1dd";
}
.bci-sliders:before {
    content: "\f1de";
}
.bci-share-alt:before {
    content: "\f1e0";
}
.bci-share-alt-square:before {
    content: "\f1e1";
}
.bci-bomb:before {
    content: "\f1e2";
}
.bci-futbol-o:before {
    content: "\f1e3";
}
.bci-soccer-ball-o:before {
    content: "\f1e3";
}
.bci-tty:before {
    content: "\f1e4";
}
.bci-binoculars:before {
    content: "\f1e5";
}
.bci-plug:before {
    content: "\f1e6";
}
.bci-slideshare:before {
    content: "\f1e7";
}
.bci-twitch:before {
    content: "\f1e8";
}
.bci-yelp:before {
    content: "\f1e9";
}
.bci-newspaper-o:before {
    content: "\f1ea";
}
.bci-wifi:before {
    content: "\f1eb";
}
.bci-calculator:before {
    content: "\f1ec";
}
.bci-paypal:before {
    content: "\f1ed";
}
.bci-google-wallet:before {
    content: "\f1ee";
}
.bci-cc-visa:before {
    content: "\f1f0";
}
.bci-cc-mastercard:before {
    content: "\f1f1";
}
.bci-cc-discover:before {
    content: "\f1f2";
}
.bci-cc-amex:before {
    content: "\f1f3";
}
.bci-cc-paypal:before {
    content: "\f1f4";
}
.bci-cc-stripe:before {
    content: "\f1f5";
}
.bci-bell-slash:before {
    content: "\f1f6";
}
.bci-bell-slash-o:before {
    content: "\f1f7";
}
.bci-trash:before {
    content: "\f1f8";
}
.bci-copyright:before {
    content: "\f1f9";
}
.bci-at:before {
    content: "\f1fa";
}
.bci-eyedropper:before {
    content: "\f1fb";
}
.bci-paint-brush:before {
    content: "\f1fc";
}
.bci-birthday-cake:before {
    content: "\f1fd";
}
.bci-area-chart:before {
    content: "\f1fe";
}
.bci-pie-chart:before {
    content: "\f200";
}
.bci-line-chart:before {
    content: "\f201";
}
.bci-lastfm:before {
    content: "\f202";
}
.bci-lastfm-square:before {
    content: "\f203";
}
.bci-toggle-off:before {
    content: "\f204";
}
.bci-toggle-on:before {
    content: "\f205";
}
.bci-bicycle:before {
    content: "\f206";
}
.bci-bus:before {
    content: "\f207";
}
.bci-ioxhost:before {
    content: "\f208";
}
.bci-angellist:before {
    content: "\f209";
}
.bci-cc:before {
    content: "\f20a";
}
.bci-ils:before {
    content: "\f20b";
}
.bci-shekel:before {
    content: "\f20b";
}
.bci-sheqel:before {
    content: "\f20b";
}
.bci-meanpath:before {
    content: "\f20c";
}
.bci-buysellads:before {
    content: "\f20d";
}
.bci-connectdevelop:before {
    content: "\f20e";
}
.bci-dashcube:before {
    content: "\f210";
}
.bci-forumbee:before {
    content: "\f211";
}
.bci-leanpub:before {
    content: "\f212";
}
.bci-sellsy:before {
    content: "\f213";
}
.bci-shirtsinbulk:before {
    content: "\f214";
}
.bci-simplybuilt:before {
    content: "\f215";
}
.bci-skyatlas:before {
    content: "\f216";
}
.bci-cart-plus:before {
    content: "\f217";
}
.bci-cart-arrow-down:before {
    content: "\f218";
}
.bci-diamond:before {
    content: "\f219";
}
.bci-ship:before {
    content: "\f21a";
}
.bci-user-secret:before {
    content: "\f21b";
}
.bci-motorcycle:before {
    content: "\f21c";
}
.bci-street-view:before {
    content: "\f21d";
}
.bci-heartbeat:before {
    content: "\f21e";
}
.bci-venus:before {
    content: "\f221";
}
.bci-mars:before {
    content: "\f222";
}
.bci-mercury:before {
    content: "\f223";
}
.bci-intersex:before {
    content: "\f224";
}
.bci-transgender:before {
    content: "\f224";
}
.bci-transgender-alt:before {
    content: "\f225";
}
.bci-venus-double:before {
    content: "\f226";
}
.bci-mars-double:before {
    content: "\f227";
}
.bci-venus-mars:before {
    content: "\f228";
}
.bci-mars-stroke:before {
    content: "\f229";
}
.bci-mars-stroke-v:before {
    content: "\f22a";
}
.bci-mars-stroke-h:before {
    content: "\f22b";
}
.bci-neuter:before {
    content: "\f22c";
}
.bci-genderless:before {
    content: "\f22d";
}
.bci-facebook-official:before {
    content: "\f230";
}
.bci-pinterest-p:before {
    content: "\f231";
}
.bci-whatsapp:before {
    content: "\f232";
}
.bci-server:before {
    content: "\f233";
}
.bci-user-plus:before {
    content: "\f234";
}
.bci-user-times:before {
    content: "\f235";
}
.bci-bed:before {
    content: "\f236";
}
.bci-hotel:before {
    content: "\f236";
}
.bci-viacoin:before {
    content: "\f237";
}
.bci-train:before {
    content: "\f238";
}
.bci-subway:before {
    content: "\f239";
}
.bci-medium:before {
    content: "\f23a";
}
.bci-y-combinator:before {
    content: "\f23b";
}
.bci-yc:before {
    content: "\f23b";
}
.bci-optin-monster:before {
    content: "\f23c";
}
.bci-opencart:before {
    content: "\f23d";
}
.bci-expeditedssl:before {
    content: "\f23e";
}
.bci-battery-4:before {
    content: "\f240";
}
.bci-battery-full:before {
    content: "\f240";
}
.bci-battery-3:before {
    content: "\f241";
}
.bci-battery-three-quarters:before {
    content: "\f241";
}
.bci-battery-2:before {
    content: "\f242";
}
.bci-battery-half:before {
    content: "\f242";
}
.bci-battery-1:before {
    content: "\f243";
}
.bci-battery-quarter:before {
    content: "\f243";
}
.bci-battery-0:before {
    content: "\f244";
}
.bci-battery-empty:before {
    content: "\f244";
}
.bci-mouse-pointer:before {
    content: "\f245";
}
.bci-i-cursor:before {
    content: "\f246";
}
.bci-object-group:before {
    content: "\f247";
}
.bci-object-ungroup:before {
    content: "\f248";
}
.bci-sticky-note:before {
    content: "\f249";
}
.bci-sticky-note-o:before {
    content: "\f24a";
}
.bci-cc-jcb:before {
    content: "\f24b";
}
.bci-cc-diners-club:before {
    content: "\f24c";
}
.bci-clone:before {
    content: "\f24d";
}
.bci-balance-scale:before {
    content: "\f24e";
}
.bci-hourglass-o:before {
    content: "\f250";
}
.bci-hourglass-1:before {
    content: "\f251";
}
.bci-hourglass-start:before {
    content: "\f251";
}
.bci-hourglass-2:before {
    content: "\f252";
}
.bci-hourglass-half:before {
    content: "\f252";
}
.bci-hourglass-3:before {
    content: "\f253";
}
.bci-hourglass-end:before {
    content: "\f253";
}
.bci-hourglass:before {
    content: "\f254";
}
.bci-hand-grab-o:before {
    content: "\f255";
}
.bci-hand-rock-o:before {
    content: "\f255";
}
.bci-hand-paper-o:before {
    content: "\f256";
}
.bci-hand-stop-o:before {
    content: "\f256";
}
.bci-hand-scissors-o:before {
    content: "\f257";
}
.bci-hand-lizard-o:before {
    content: "\f258";
}
.bci-hand-spock-o:before {
    content: "\f259";
}
.bci-hand-pointer-o:before {
    content: "\f25a";
}
.bci-hand-peace-o:before {
    content: "\f25b";
}
.bci-trademark:before {
    content: "\f25c";
}
.bci-registered:before {
    content: "\f25d";
}
.bci-creative-commons:before {
    content: "\f25e";
}
.bci-gg:before {
    content: "\f260";
}
.bci-gg-circle:before {
    content: "\f261";
}
.bci-tripadvisor:before {
    content: "\f262";
}
.bci-odnoklassniki:before {
    content: "\f263";
}
.bci-odnoklassniki-square:before {
    content: "\f264";
}
.bci-get-pocket:before {
    content: "\f265";
}
.bci-wikipedia-w:before {
    content: "\f266";
}
.bci-safari:before {
    content: "\f267";
}
.bci-chrome:before {
    content: "\f268";
}
.bci-firefox:before {
    content: "\f269";
}
.bci-opera:before {
    content: "\f26a";
}
.bci-internet-explorer:before {
    content: "\f26b";
}
.bci-television:before {
    content: "\f26c";
}
.bci-tv:before {
    content: "\f26c";
}
.bci-contao:before {
    content: "\f26d";
}
.bci-500px:before {
    content: "\f26e";
}
.bci-amazon:before {
    content: "\f270";
}
.bci-calendar-plus-o:before {
    content: "\f271";
}
.bci-calendar-minus-o:before {
    content: "\f272";
}
.bci-calendar-times-o:before {
    content: "\f273";
}
.bci-calendar-check-o:before {
    content: "\f274";
}
.bci-industry:before {
    content: "\f275";
}
.bci-map-pin:before {
    content: "\f276";
}
.bci-map-signs:before {
    content: "\f277";
}
.bci-map-o:before {
    content: "\f278";
}
.bci-map:before {
    content: "\f279";
}
.bci-commenting:before {
    content: "\f27a";
}
.bci-commenting-o:before {
    content: "\f27b";
}
.bci-houzz:before {
    content: "\f27c";
}
.bci-vimeo:before {
    content: "\f27d";
}
.bci-black-tie:before {
    content: "\f27e";
}
.bci-fonticons:before {
    content: "\f280";
}
.bci-reddit-alien:before {
    content: "\f281";
}
.bci-edge:before {
    content: "\f282";
}
.bci-credit-card-alt:before {
    content: "\f283";
}
.bci-codiepie:before {
    content: "\f284";
}
.bci-modx:before {
    content: "\f285";
}
.bci-fort-awesome:before {
    content: "\f286";
}
.bci-usb:before {
    content: "\f287";
}
.bci-product-hunt:before {
    content: "\f288";
}
.bci-mixcloud:before {
    content: "\f289";
}
.bci-scribd:before {
    content: "\f28a";
}
.bci-pause-circle:before {
    content: "\f28b";
}
.bci-pause-circle-o:before {
    content: "\f28c";
}
.bci-stop-circle:before {
    content: "\f28d";
}
.bci-stop-circle-o:before {
    content: "\f28e";
}
.bci-shopping-bag:before {
    content: "\f290";
}
.bci-shopping-basket:before {
    content: "\f291";
}
.bci-hashtag:before {
    content: "\f292";
}
.bci-bluetooth:before {
    content: "\f293";
}
.bci-bluetooth-b:before {
    content: "\f294";
}
.bci-percent:before {
    content: "\f295";
}
