 {
	"product.staff.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "463ba537-2e25-4777-b107-17db7636fecb"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b4c3f0dd-0639-4e34-a184-3738e195e96d"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "150px",
				"height": "216px",
				"link_to_item": "0",
				"element": "f1731440-73c7-41cf-a45b-ee57ee0fa770"
			}
		}
	},
	"product.staff.feed":  {
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "463ba537-2e25-4777-b107-17db7636fecb"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b4c3f0dd-0639-4e34-a184-3738e195e96d"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		}
	},
	"product.staff.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "463ba537-2e25-4777-b107-17db7636fecb"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b4c3f0dd-0639-4e34-a184-3738e195e96d"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "70px",
				"height": "93px",
				"link_to_item": "1",
				"element": "f1731440-73c7-41cf-a45b-ee57ee0fa770"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "fc024756-4ca8-418b-9384-fd93395cd96a"
			}
		}
	}
}