 {
	"product.staff.full":  {
		"top":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"order":  {
					"0": "",
					"1": "",
					"2": "47184f41-ca53-473a-aec6-7a734594fc54"
				},
				"layout": "",
				"link_to_item": "1",
				"separated_by": "separator=[, ]",
				"element": "3d224fb4-8ff5-455c-bfdb-ccd5105269e2"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "463ba537-2e25-4777-b107-17db7636fecb"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b4c3f0dd-0639-4e34-a184-3738e195e96d"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"qualifications":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "005f44cb-312b-4371-b492-b0fa9f14eefc"
			}
		},
		"centre":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Centre:",
				"separated_by": "tag=[<span>%s<\/span>]",
				"element": "6460e4be-6310-49cc-9cf9-d46224124509"
			}
		},
		"fellowships":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b9d65fb5-065f-4583-9064-ea7f501bf4e8"
			}
		},
		"jobtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "fc024756-4ca8-418b-9384-fd93395cd96a"
			}
		},
		"telephone":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "89d9881c-7fc0-46f6-944a-b34a3dc8c2af"
			}
		},
		"email":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"cloak": "1",
				"separated_by": "separator=[ ]",
				"element": "43359ba2-1b04-45ed-b362-612c3f972432"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "<p>",
				"separated_by": "separator=[<br \/>]",
				"element": "b811f55c-c804-4ecd-9609-7b9b4da4516e"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "150px",
				"height": "216px",
				"link_to_item": "0",
				"element": "f1731440-73c7-41cf-a45b-ee57ee0fa770"
			}
		},
		"announcements":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "7b26e8fc-26e9-44fa-9ee6-0186b3d585a2"
			}
		},
		"research":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Research Themes",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemtag"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "d0fe1fe0-8dcd-428c-a503-8ae3ec94535f"
			}
		},
		"related":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "8439918f-9475-4a95-a51c-60205834d2ba"
			}
		}
	},
	"product.staff.feed":  {
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "463ba537-2e25-4777-b107-17db7636fecb"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b4c3f0dd-0639-4e34-a184-3738e195e96d"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			},
			"3":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "d0fe1fe0-8dcd-428c-a503-8ae3ec94535f"
			}
		}
	},
	"product.staff.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "463ba537-2e25-4777-b107-17db7636fecb"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b4c3f0dd-0639-4e34-a184-3738e195e96d"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "70px",
				"height": "93px",
				"link_to_item": "1",
				"element": "f1731440-73c7-41cf-a45b-ee57ee0fa770"
			}
		},
		"specification":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<li>%s<\/li>]",
				"element": "fc024756-4ca8-418b-9384-fd93395cd96a"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	},
	"product.researchers.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "45357c76-a800-4391-adc9-1046a9ecbcdf"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "7f0f8f73-3152-4c68-86ac-8cae3c0addf6"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"qualifications":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "5f01733e-d8ec-4633-93f3-48e84b8d529b"
			}
		},
		"centre":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "5a330f38-7891-445c-89af-2553db2c9368"
			}
		},
		"fellowships":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "ff3d03d5-5de7-4b8e-b1a0-0a900fbac89d"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "64ac8dd2-e8a6-4c9d-905e-0778c3217a9b"
			}
		},
		"jobtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "a2dd9b07-9f60-4a85-a928-898a3f6beb5e"
			}
		},
		"telephone":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "a7dd4614-63ed-4969-9e8d-222d506d32e3"
			}
		},
		"email":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "bf2b3d40-5e00-48e1-9b60-cefb151cf509"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "a583390f-8439-4351-ab04-80ac9a27e976"
			}
		},
		"announcements":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "bde3ae15-393a-4af7-8012-24349adfc93e"
			}
		},
		"research":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "ab3dcfcd-c3fc-49ea-8179-c5840f777528"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "139ce548-5ce9-448f-a30b-e7cc35aa91dc"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[ ]",
				"element": "_itemtag"
			}
		},
		"accordion":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "139ce548-5ce9-448f-a30b-e7cc35aa91dc"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[ ]",
				"element": "_itemtag"
			}
		},
		"related":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "7f18ddfc-d599-47be-ad76-275deb3766ef"
			}
		}
	},
	"product.researchers.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "45357c76-a800-4391-adc9-1046a9ecbcdf"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "7f0f8f73-3152-4c68-86ac-8cae3c0addf6"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "70px",
				"height": "93px",
				"link_to_item": "1",
				"element": "a583390f-8439-4351-ab04-80ac9a27e976"
			}
		},
		"specification":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "a2dd9b07-9f60-4a85-a928-898a3f6beb5e"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_text": "",
				"element": "_itemlink"
			}
		}
	},
	"product.staff.related":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "463ba537-2e25-4777-b107-17db7636fecb"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b4c3f0dd-0639-4e34-a184-3738e195e96d"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "",
				"height": "",
				"link_to_item": "1",
				"element": "f1731440-73c7-41cf-a45b-ee57ee0fa770"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "d0fe1fe0-8dcd-428c-a503-8ae3ec94535f"
			}
		},
		"specification":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "005f44cb-312b-4371-b492-b0fa9f14eefc"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b811f55c-c804-4ecd-9609-7b9b4da4516e"
			}
		}
	},
	"product.staff.submission":  {

	}
}